Source: fty-asset-rest
Maintainer: fty-asset-rest Developers <opensource@eaton.com>
Build-Depends:
    cmake (>=3.0),
    debhelper (>= 9),
    libczmq-dev (>= 3.0.2),
    libmlm-dev (>= 1.0.0),
    libtntnet-dev,
    libcxxtools-dev,
    fty-cmake-dev,
    fty-cmake-rest-dev,
    fty-utils-dev,
    libfty-asset-dev,
    libfty-asset-activator-dev,
    libfty-pack-dev,
    libfty-security-wallet-dev,
    libfty-common-dev,
    libfty-common-rest-dev,
    libfty-common-messagebus-dev,
    libfty-common-dto-dev,
    libfty-common-logging-dev
Standards-Version: 1.0.0
Section: devel
Priority: extra

Package: fty-asset-rest
Architecture: any
Depends:    ${shlibs:Depends},
            ${misc:Depends}
Description: fty-asset-rest service
